<p id="notice"><%= notice %></p>

<h1>Peer Comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Comment</th>
      <th>Commenter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peer_comments.each do |peer_comment| %>
      <tr>
        <td><%= peer_comment.title %></td>
        <td><%= peer_comment.comment %></td>
        <td><%= peer_comment.commenter %></td>
        <td><%= link_to 'Show', peer_comment %></td>
        <td><%= link_to 'Edit', edit_peer_comment_path(peer_comment) %></td>
        <td><%= link_to 'Destroy', peer_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peer Comment', new_peer_comment_path %>
